<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Cheap diet optimizer</title>
    <link rel="stylesheet" type="text/css" href ="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li class="menu"><a class="menu" href="/">Cheap Diet Optimizer</a></li>
            <li class="menu"><a class="menu" href="/data_source">Data Source</a></li>
            <li class="menu"><a class="menu" href="/limitations">Limitations</a></li>
            <li class="menu"><a class="menu" href="https://github.com/mkmwong/Cheap_Diet_Optimizer">Source Code</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
<div class="content">
    <div>
        <h3>Disclamimer:</h3>
        <h3>Please be reminded that this application is just for the purpose of
           reference. If you have any question about your diet and health, 
           please consult your doctor or dietitian.</h3>
        <h3>Data source:</h3>
        <ul>
          <li>Nutrient data could be found <a href="https://www.ars.usda.gov/northeast-area/beltsville-md-bhnrc/beltsville-human-nutrition-research-center/food-surveys-research-group/docs/fndds-download-databases/">here (FNDDS 2015-2016)</a>.</li>
          <li>Price data could be found <a href="https://www.fns.usda.gov/cnpp/usda-food-plans-cost-food-reports"> here (CNPP 2003-2004)</a>.</li>
          <li>Vitamin and mineral requirement could be found <a href="https://www.accessdata.fda.gov/scripts/interactivenutritionfactslabel/assets/InteractiveNFL_Vitamins&MineralsChart_March2020.pdf">here</a>.</li>
        </ul>
        <h3>Range of nutrients:</h3>
        <ul>
          <li>1800kcal <= Calories <= 2110kcal</li>
          <li>50g <= Protein <= 175g</li>
          <li>225g <= Carbohydrates <= 325g</li>
          <li>44g <= Total Fat <= 77g</li>
          <li>30mg <= Cholesterol <= 240mg</li>
          <li>12mg <= Dietary Fiber <= 40mg</li>
          <li>Total Sugar <= 60g</li>
        </ul>
        <h3>Range of minerals:</h3>
        <ul>
          <li>18mg <= Iron </li>
          <li>1000mg <= Calcium </li>
          <li>420mg <= Magnesium </li>
          <li>10mg <= Zinc </li>
          <li>0.9mg <= Copper </li>
          <li>55mcg <= Selenium </li>
          <li>4700mg <= Potassium </li>
          <li>Sodium <= 2300mg</li>
        </ul>
        <h3>Range of vitamins:</h3>
        <ul>
          <li>90mg <= Vitamin C </li>
          <li>1.2mg <= Thiamin</li>
          <li>1.3mg <= Riboflavin </li>
          <li>16mg <= Niacin </li>
          <li>400mcg <= Folate </li>
          <li>120mcg <= Vitamin K </li>
          <li>900mcg <= Vitamin A </li>
          <li>15mg <= Vitamin E (Excluded in Vegan option) </li>
          <li>1.7mg <= Vitamin B6 (Excluded in Vegan option)</li>
          <li>20mcg <= Vitamin D (Excluded in Vegan and Vegetarian options)</li>
          <li>2.4mg <= Vitamin B12 (Excluded in Vegan and Vegetarian options)</li>
        </ul>
      </div>
</div>
</body>
</html>
