<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
    <link rel="stylesheet" type="text/css" href ="{{ url_for('static',filename='styles/CDOstyle.css') }}">
</head>
<body>
<h1>Cheap diet optimizer</h1>
<form class="teamSelection" method="POST" action="/diet_out">
    <h4> First, choose your diet type: </h4>
    <select name=diet placeholder="Select your diet">
        {% for diet in diet %}
        <option value= "{{diet}}" SELECTED>{{diet}}</option>"
        {% endfor %}
    </select>
    <h4> Then, select an item to include (optional): </h4>
    <select name=item_include placeholder="Select item to include">
        {% for item in item_include %}
        <option value= "{{item}}" SELECTED>{{item}}</option>"
        {% endfor %}
    </select>
    <input class="btn" type="Submit" value="submit"> </input>
</form>
</body>
</html>
