<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Cheap diet optimizer</title>
    <link rel="stylesheet" type="text/css" href ="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li class="menu"><a class="menu" href="/">Cheap Diet Optimizer</a></li>
            <li class="menu"><a class="menu" href="/limitations">Limitations</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
<div class="input_form">
    {% include "content.html" %}
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
