<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Cheap diet optimizer</title>
    <link rel="stylesheet" type="text/css" href ="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li class="menu"><a class="menu" href="/">Cheap Diet Optimizer</a></li>
            <li class="menu"><a class="menu" href="/data_source">Data Source</a></li>
            <li class="menu"><a class="menu" href="/limitations">Limitations</a></li>
            <li class="menu"><a class="menu" href="https://github.com/mkmwong/Cheap_Diet_Optimizer">Source Code</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
<div class="content">
<h3>For all diet:</h3>
<p>Calcium is set to a minimum requirement of 1000mg instead of the RDA, which 
  is 1300mg, because otherwise there will be no diet available for people with 
 dairy allergy. Apart from dairy product, fish, firm tofu and sesame seeds are
 also very high in calcium.</p>
<h3>Nutrient limitation excluded from vegetarian diet:</h3>
<p>Please be reminded that this application only includes a very small amount 
  of food items that are available in the grocery store. Hence, a few nutrient
   requirements were skipped in the vegetarian or vegan diet.
</p>
<ol>
  <li>Vitamin D(excluded in both vegetarian and vegan):
    <p>
      The daily recommended amount of Vitamin D intake is 10-20 mg, or 400-800 
      IU. Fishes like salmon, trout and sardine are really good dietary sources
       of vitamin D. There are less natural vitamin D sources in a vegetarian 
       diet, but you could still get a decent amount of vitamin D. For example,
        6 oz of yogurt has ~2mg of vitamin D. One large egg has ~1mg of vitamin
         D as well. Also, orange juice, milk and cereal are commonly fortified 
         with vitamin D. Typically, 1 serving of fortified orange juice, milk 
         and cereal would have ~1.5mg of vitamin D. 
    </p>
    <p>
      Other than dietary sources, sunlight is also a very important source for 
      vitamin D! Keep in mind that the amount of vitamin D you could produce 
      varies highly depending on your skin pigmentation level, your geographical
       location and amount of time and skin exposed to the sun. Furthermore, 
       sunlight could cause skin cancer as well, so don’t expose yourself to 
       too much sun.
    </p> 
  </li>
  <li>Vitamin B12(excluded in both vegetarian and vegan):
    <p>
      The daily recommended amount of Vitamin B12 intake is 2.4mcg. Vitamin 
      B12 is another nutrient that is enriched in seafood, and also in animal 
      organs. Dairy products such as milk and cheese could provide some 
      vitamin B12 for those who are on a vegetarian diet. For people who are 
      on a vegan diet, things might be a little harder. There are juice and 
      cereal that are fortified with vitamin B12. Also, nutritional yeast, 
      which is commonly used as a substitute for cheese in vegan recipes, has 
      a whopping 17.6mcg(733% of daily requirement) of vitamin B12 per quarter 
      cup.
    </p>
  </li>
  <li>Vitamin B6(excluded in vegan):
    <p>
      The daily recommended amount of vitamin B6 intake is 1.7mg. Vitamin B6 
      is very high in meats, but there are less vegetarian/vegan sources of 
      vitamin B6. Some foods that are rich in chickpeas and bananas. 
      Nutritional yeast, which was mentioned in the vitamin B12 section, has a 
      5.9mg(453% of daily requirement) of vitamin B6 per quarter cup.
    </p>
  </li>
  <li>Vitamin E(excluded in vegan):
    <p>
      The daily recommended amount of vitamin E intake is 15mg. It shouldn’t
       be difficult for a vegan diet to obtain enough vitamin E because nuts 
       are high in vitamin E, but because of the limitation in fat intake in 
       this program(max 77g), no optimal diet would be found if vitamin E 
       is included. 
    </p>
  </li>
</ol>
</div>
</body>
</html>
